DATABASE_URL="postgresql://user:password@localhost:5432/projectvision"
JWT_SECRET=your_secret_key_here
DISCORD_CLIENT_ID=1513484851721011210
DISCORD_CLIENT_SECRET=ovVBLTJyijCCChYR9lWeik01oQVmXyBj
DISCORD_REDIRECT_URI=http://localhost:5000/api/auth/callback
NODE_ENV=development
